.abt-left {
    
    height: 100%;
    padding-left: 15%;
    padding-right: 10%;
}

.abt {
    max-height: 800px;
    min-height: 300px;
}


.abt-h2 {
    font-weight: 100;
}

@media screen and (max-width:1280px) {
    .abt-left {
        padding-left: 13%;
    }
}

@media screen and (max-width:960px) {



    .abt-h1 {
        font-size: 48px;
    }

    .abt-h2 {
        font-size: 18px;
    }
}