.badge
{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.badge-img
{
    max-width: 200px;
    max-height: 300px;
    min-height: 100px;
}

.badge-img-container
{
    width: 100%;
    min-height: 220px;
}

.badge-text-container
{
    width: auto;
    height: 100%;
}

@media screen and (max-width: 1100px) {
    .empty
    {
       display: none;
    }
}