.card {
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.05) 0px 50px 100px 0px, rgba(50, 50, 93, 0.1) 0px 15px 35px 0px, rgba(0, 0, 0, 0.1) 0px 5px 15px 0px;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 480px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #ffffff;
}

.card-text-container
{
    height: 100%;
}

.card-content-container
{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-content-top-container
{
    
}

.card-content-bottom-container
{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}

.card-button-container
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 12px;
    padding-bottom: 12px;
}

.card-textarea-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-text-title
{
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.card-text-p
{
    margin: 0;
    font-size: 13px;
}

.card-img {
    width: 100%;
    height: auto;
}


.card-button-list {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}